specVersion: 0.0.4
schema:
  file: ./schema.graphql
dataSources:
  - kind: ethereum
    name: FlexiSwap
    network: {{network}}
    source:
      address: "{{address}}"
      abi: FlexiSwap
      startBlock: {{startBlock}}
    mapping:
      kind: ethereum/events
      apiVersion: 0.0.6
      language: wasm/assemblyscript
      entities:
        - TradeCreated
        - TradeAccepted
        - CounterOfferCreated
        - CounterOfferAccepted
      abis:
        - name: FlexiSwap
          file: abi/FlexiSwap.json
      eventHandlers:
        - event: TradeCreated(uint256,(address,uint256,uint256[],uint256[]))
          handler: handleTradeCreated
        - event: TradeAccepted(address,uint256,uint256)
          handler: handleTradeAccepted
        - event: CounterOfferCreated(address,uint256,uint256)
          handler: handleCounterOfferCreated
        - event: CounterOfferAccepted(uint256,uint256)
          handler: handleCounterOfferAccepted
      file: ./src/flexi-swap.ts
